body {
    background-image: url('https://images.unsplash.com/photo-1644329771909-b651e30c41da?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.todo-app {
    background-color: rgba(23, 40, 66, 0.8);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.text-center {
    text-align: center;
}

.todo-container {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.todo-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.todo-form input {
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.todo-form button {
    padding: 10px;
    background-color: #0d723c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.todo-form button:hover {
    background-color: #00ff80;
}

#todoList{
   overflow-y: auto;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 90%;
    background-color: #324e65;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.todo-item.completed {
    background-color: #278f38;
}

.todo-item.completed span {
    text-decoration: line-through;
}

.todo-item button {
    background-color: transparent;
    border: none;
    color: #e53e3e;
    cursor: pointer;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}